@media print {
    @page {
        margin: 0 !important;
        size: auto;
    }

    body {
        background: white !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .controls-container, h1, .mini-editor, #crop-modal, .page-indicator, .instruction-main {
        display: none !important;
    }

    #pages-container {
        display: block !important;
        padding: 0 !important;
        gap: 0 !important;
    }

    .paper {
        display: grid !important;
        box-shadow: none !important;
        margin: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        page-break-after: always !important;
        border: none !important;
        transform: none !important;
    }

    .image-cell {
        border: none !important;
    }
}
